node_modules
node_modules/
recognizer.json
crap.json
scratch*
recognizer.js
staticfilerecognizer.js
builtinslottypes/uslastnames.json
uslastnames.json
mydomain.json
mystate.json
npm-debug.log
.idea
.package-lock.json
